*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Ignore slides
slides/

# Ignore lab zip files
zip/

hw1/target/
hw1/.idea/
hw1/hw1.iml

.DS_Store

# Ignore .idea files
hw2/.idea/
hw2/target/
hw2/hw2.iml

hw3/.idea/
hw3/target/
hw3/hw2.iml

